
/**
 * Implementation of hook_block()
 */
function `Filename()`_block($op = 'list', $delta = 0, $edit = array()) {
	switch ($op) {
		case 'list':
			${1}
			break;
		case 'configure':
			break;
		case 'save':
			break;
		case 'view':
			break;
	}
}

