
/**
 * Implementation of hook_comment()
 */
function `Filename()`_comment(&$a1, $op) {
	switch ($op) {
		case '${1:/* See http://api.drupal.org/api/function/hook_comment/6 for options */}':
			${2:// Your code here}
	}
}

