
/**
 * Implementation of hook_taxonomy()
 */
function `Filename()`_taxonomy($op, $type, $array = NULL) {
	switch ($op) {
		case '${1:See http://api.drupal.org/api/function/hook_taxonomy/6 for options}':
			${2:// Your code here.}
	}
}

