
/**
 * Implementation of hook_user()
 */
function `Filename()`_user($op, &$edit, &$account, $category = NULL) {
  switch ($op) {
    case '${1:/* See http://api.drupal.org/api/function/hook_user/6 for options}':
      ${2:// Your code here.}
  }
}

