
/**
 * Implementation of hook_node_info().
 */
function `Filename()`_node_info() {
	return array(
		'${1:/* machine-readable name */}' => array(
			'name' => t('${2:/* human-readable name */}'),
			'module' => '`Filename()`',
			'description' => t('${3:/* description */}'),
		),
	);
}


