
/**
 * Implementation of hook_node_type()
 */
function `Filename()`_node_type($op, $info) {
	switch ($op) {
		case '${1:See http://api.drupal.org/api/function/hook_node_type/6 for options}':
			${2:// Your code here.}
	}
}

