
/**
 * Implementation of hook_taxonomy()
 */
function `Filename()`_taxonomy($op, $type, $array = NULL) {
	switch ($op) {
		case "delete":
			${1:// Your code here.}
			break;
		case "insert":
			break;
		case "update":
			break;
	}
}

