$form['${1:/* form element */}'] = array(
	'#type' => 'select',
	'#title' => t('${2:/* title */}'),
	'#description' => t('${3:/* description */}'),
	'#options' => array(
		'${4:/* key */}' => t('${5:/* value */}'),
	),
);
