/*
 * Implementation of hook_update_N().
 * @see http://api.drupal.org/api/drupal/developer--hooks--install.php/function/hook_update_N/6
 * @return array $ret
 *  An array with the results of the calls to update_sql().
 */
function `Filename()`_update_N(&$sandbox) {
  $ret = array();

  ${1:// Your code here.}

  return $ret;
}
