
/**
 * Implementation of hook_comment()
 */
function `Filename()`_comment(&$a1, $op) {
	switch ($op) {
		case "insert":
			${1:// Your code here}
			break;
		case "update":
			break;
		case "view":
			break;
		case "validate":
			break;
		case "publish":
			break;
		case "unpublish":
			break;
		case "delete":
			break;
	}
}

