
/**
 * Implements hook_node_view().
 *
 * @param $node
 *   The node that is being assembled for rendering.
 *
 * @param $view_mode
 *   The $view_mode parameter from node_view().
 *
 * @param $langcode
 *   The language code used for rendering.
 */
function `Filename()`_node_view($node, $view_mode, $langcode) {
  ${1:/* code */}
}


