
/**
 * Implementation of hook_node_operations()
 */
function `Filename()`_node_operations() {
	$operations = array(
	  '${1:/* operation */}' => array(
	    'label' => t('${2:/* label */}'),
	    'callback' => '${3:/* callback */}',
	  ),
	);
	return $operations;
}

/**
 * Callback function
 */
function $3 {
	${4:// Your code here.}
}

