
/**
 * Implements hook_node_load().
 *
 * @param $nodes
 *   An array of the nodes being loaded, keyed by nid.
 *
 * @param $types
 *   An array containing the types of the nodes.
 */
function `Filename()`_node_load($nodes, $types) {
  ${1:/* code */}
}


