
/**
 * Implements hook_form().
 *
 * @param $node
 *   The node being added or edited
 *
 * @param $form_state
 *   The form state array.
 *
 */
function `Filename()`_form($node, &$form_state) {
  ${1:// your code.}
}

