
/**
 * Implements hook_user_insert().
 *
 * @param $edit
 *   The array of form values submitted by the user.
 *
 * @param $account
 *   The user object on which the operation is being performed.
 *
 * @param $category
 *   The active category of user information being edited.
 */
function `Filename()`_user_insert(&$edit, $account, $category) {
  ${1:// Your code here.}
}

