
/**
 * Implements hook_user_view().
 *
 * @param $account
 *   The user object on which the operation is being performed.
 *
 * @param $view_mode
 *   View mode, e.g. 'full'.
 *
 * @param $langcode
 *   The language code used for rendering.
 */
function `Filename()`_user_view($account, $view_mode, $langcode) {
  ${1:// Your code here.}
}

