/**
 * Implementation of hook_menu()
 */
function `Filename()`_menu() {
	$${1:items} = array();
	
	// Put your menu items here.
	$$1['${2:path}'] = array(
		'title' => '${3:title}', 
		'page callback' => '${4:page_callback}', 
		'access arguments' => array('${5:permission}'), 
		'type' => ${6:MENU_SUGGESTED_ITEM},
	);
	
	return $$1;
}

